
<div class="container-fluid">
  <br/>
    <div class="row">
      <div class="col">
          <div class="p-5 bg-dark text-light">
              Name
          </div>
      </div>
      <div class="col">
          <div class="p-5 bg-dark text-light">
              Area
          </div>
      </div>
      <div class="col">
          <div class="p-5 bg-dark text-light">
              Code3
          </div>
      </div>

      <div class="col">
        <div class="p-5 bg-dark text-light">
            Year
        </div>
    </div>
    <div class="col">
        <div class="p-5 bg-dark text-light">
            Population
        </div>
    </div>
    <div class="col">
        <div class="p-5 bg-dark text-light">
            Gdp
        </div>
    </div>



   </div>
   <div class="row" *ngFor="let country of countries">
      <div class="col">
          <div class="p-5 text-dark">
              {{country.name}}
          </div>
      </div>
      <div class="col">
          <div class="p-5 text-dark">
              {{country.area}}
          </div>
      </div>
      <div class="col">
          <div class="p-5 text-dark">
              {{country.countryCode3}}
          </div>
      </div>
      
      <div class="col">
        <div class="p-5 text-dark">
            {{country.countryStats.year}}
        </div>
      </div>
      <div class="col">
        <div class="p-5 text-dark">
            {{country.countryStats.population}}
        </div>
      </div>
      <div class="col">
        <div class="p-5 text-dark">
            {{country.countryStats.gdp}}
        </div>
      </div>
  
   </div>
  </div>
